:root {
  --primary: #3f6ba3;
  --secondary: #1e2228;
  --tertiary: #8598b0;
  --4: #4b5a68;
  --5: #203c5c;
  --white: #fff;
  --background: #f8f9fa;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos Padrão Global */
h1,
h1 span,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary);
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1 {
  font-size: 58px;
  font-weight: 600;
}

h2 {
  font-size: 38px;
}

p {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 400;
}

a {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 700;
}

a,
li {
  list-style-type: none;
  text-decoration: none;
}

/* Menu Hamburger */
.checkboxtoggler {
  width: 2.4em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  cursor: pointer;
}

.line-1 {
  background: var(--primary);
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-2 {
  background: var(--primary);
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-3 {
  background: var(--primary);
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

#toggleChecker {
  height: 3em;
  width: 100%;
  display: none;
}

#togglerLable {
  display: none;
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
  -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
  -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  transform: rotate(-45deg) translateY(0em) translateX(0.1em);
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
  transform: scaleX(0);
  transform-origin: left;
}

/* Margin Lateral Global */
.container {
  margin-left: auto;
  margin-right: auto;
}

/* Header | Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
  background-color: var(--white);
}

nav ul {
  display: flex;
  gap: 32px;
}

nav li a:hover {
  color: var(--primary);
}

nav img {
  width: 150px;
  max-width: fit-content;
}

#home-nav-active {
  color: var(--primary);
}

/* Navbar Buttons */
.buttons-nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

#btn-entrar {
  padding: 14px;
  background-color: var(--white);
  border: 2px solid var(--primary);
  border-radius: 6px;
  color: var(--primary);
}

#btn-cadastrar {
  padding: 14px;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 6px;
  color: var(--white);
}

#btn-cadastrar:active,
#btn-entrar:active {
  transform: translate(0em, 0.2em);
}

/* Hero Section */
.hero-section {
  background: url(/images/background-hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 308px 0;
}

.hero-content {
  max-width: 48%;
}

.hero-content h1 {
  padding-bottom: 38px;
  line-height: 58px;
}

.hero-content p {
  padding-bottom: 48px;
  width: 80%;
  font-size: 18px;
  line-height: 24px;
}

.hero-content span {
  color: var(--primary);
  font-weight: 600;
}

#btn-adotar {
  padding: 16px 24px;
  background-color: var(--primary);
  border-radius: 6px;
  color: var(--white);
  font-size: 20px;
}

#btn-adotar:hover {
  background: rgb(95, 119, 150);
  background: linear-gradient(
    90deg,
    rgba(63, 107, 163) 0%,
    rgba(133, 152, 176) 100%
  );
}

/* Question Container */
.question-container {
  margin: 86px 0;
}

.question-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 20px;
  padding: 32px 0;
}

.question-box {
  display: grid;
  gap: 12px;
  padding: 24px 28px;
  place-items: center;
  border-radius: 20px;
  box-shadow: 0 -33px 51px rgba(209, 209, 209, 0.16);
  text-align: center;
}

.question-box:hover {
  -webkit-box-shadow: 0px 0px 51px -4px rgba(230, 230, 230, 1);
  -moz-box-shadow: 0px 0px 51px -4px rgba(230, 230, 230, 1);
  box-shadow: 0px 0px 51px -4px rgba(230, 230, 230, 1);
}

.question-box h3 {
  font-size: 22px;
}

.question-box img {
  width: 100%;
  max-width: 228px;
}

/* Pets Section */
.pets-section {
  background: url(/images/bone-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.pets-container {
  padding: 112px 0;
}

.pets-content {
  display: grid;
  gap: 12px;
  place-items: center;
  padding-bottom: 52px;
}

.pets-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  place-items: center;
}

.pet-box {
  display: grid;
  width: 396px;
  background-color: var(--background);
  border-radius: 20px;
}

.pet-box-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 28px 28px 28px;
}

.pet-box-content h3 {
  font-size: 24px;
}

.pet-box a {
  padding: 12px 12px;
  align-self: flex-start;
  background-color: var(--4);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
}

.pet-box img {
  width: 100%;
  max-width: fit-content;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Responsivo */
@media screen and (max-width: 2560px) {
  .container {
    max-width: 60%;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 88%;
  }

  .hero-section {
    padding: 102px 0;
  }

  .hero-content h1 {
    max-width: 90%;
    font-size: 42px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 92%;
  }

  nav ul {
    gap: 18px;
  }

  .hero-section {
    padding: 198px 0;
  }

  .hero-content h1 {
    font-size: 46px;
  }
}

@media screen and (max-width: 768px) {
  #togglerLable {
    display: grid;
  }

  nav ul,
  .buttons-nav {
    display: none;
  }

  nav ul {
    display: none;
    flex-direction: column;
    gap: 0px;
    padding: 0px 0px;
    position: absolute;
    right: 0;
    top: 95px;
    width: 300px;
    z-index: 5;
    background-color: #fff;
    box-shadow: -9px 0 14px 0px rgb(0 0 0 / 6%);
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    padding: 10px 18px 10px 18px;
    width: 100%;
    align-items: center;
    border-top: 1px solid #dddddd;
  }

  ul li:first-child {
    border-top: none;
  }

  .hero-section {
    padding: 90px 0;
  }

  .hero-content h1 {
    max-width: 94%;
    font-size: 38px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .question-box {
    margin-top: 22px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    background-position: initial;
  }

  .hero-content {
    max-width: 100%;
  }
}
