:root {
  --primary: #3f6ba3;
  --secondary: #1e2228;
  --tertiary: #8598b0;
  --4: #4b5a68;
  --5: #203c5c;
  --white: #fff;
  --background: #f8f9fa;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0 30px;
}

.container-pages {
  width: 100%;
  max-width: 436px;
  background-color: white;
  padding: 28px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  width: 250px;
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
  height: auto;
}

.login-title h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

.login-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

input[type="email"],
input[type="password"],
input[type="tel"],
#nome {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

button {
  padding: 12px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(86, 124, 171);
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--secondary);
}

a:hover {
  color: var(--primary);
}

label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

label input {
  margin-right: 10px;
}

.links-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#linea {
  border: 1px solid #eee;
}

@media (max-width: 400px) {
  .container {
    padding: 15px;
    max-width: 100%; /* Permite que o contêiner ocupe toda a largura em telas pequenas */
  }

  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"] {
    padding: 10px;
    font-size: 0.8rem;
  }

  button {
    padding: 10px;
    font-size: 0.9rem;
  }

  label {
    font-size: 0.8rem;
  }

  .forgot-password,
  a {
    font-size: 0.9rem;
  }
}
