:root {
  --primary: #3f6ba3;
  --secondary: #1e2228;
  --tertiary: #8598b0;
  --4: #4b5a68;
  --5: #203c5c;
  --white: #fff;
  --background: #f8f9fa;
}

* {
  list-style: none;
  outline: none;
}

.form-section {
  padding: 56px 0;
  background-color: var(--background);
}

.form-title {
  display: grid;
  gap: 24px;
  padding: 56px 0;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  padding: 0 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 15px;
}

input,
select,
textarea,
select,
textarea,
option {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

::placeholder,
select.placeholder-hidden option[disabled] {
  color: #ccc;
}

select {
  color: black;
}

select.placeholder-hidden {
  color: #ccc;
}

select:not(.placeholder-hidden) option[disabled] {
  display: none;
}

select:not(.placeholder-hidden) {
  color: black;
}

textarea {
  height: 100px;
  resize: vertical;
}

.button-form {
  display: grid;
  justify-content: center;
}

.required::after {
  content: " *";
  color: red;
}

.forms-button {
  display: flex;
  justify-content: center;
}

/* Adicione ou modifique suas regras CSS para o formulário */
.forms-groups {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  flex: 1 1 calc(50% - 16px); /* Ajusta o tamanho dos campos para ocupar 50% da largura menos o espaçamento */
  box-sizing: border-box;
  padding-right: 8px;
}

.form-group.full-width {
  flex: 1 1 100%; /* Ocupa toda a largura disponível */
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.info-message {
  color: red;
  font-size: 0.9em;
  margin-top: 8px;
}

/* Assegura que os campos com a classe full-width ocupem toda a largura disponível */
.form-group.full-width {
  flex: 1 1 100%;
}

.form-group.full-width input,
.form-group.full-width textarea {
  width: 100%;
  box-sizing: border-box;
}
