.container-register {
  width: 100%;
  max-width: 466px;
  background-color: #fff;
  padding: 28px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputs-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-form {
  display: flex;
  gap: 8px;
}
